#success_message{ display: none;}

.error {
    color: red;
    font-size: 80%;
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

hr {
	border-color: black;
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.input-group, .input-group .form-control {
	height:100% !important;
}
